html {
    background-color: #191919;
    opacity: 1.0
}

main {
    color: white;
    opacity: 0.86;
}

h1 {
    color: white;
    opacity: 0.86;
}

span:lang(Chinese) {
    font-family: Arial,Helvetica,sans-serif;
}

a {
    color: #09b877;
}

/* After clicking */
a:focus {
    color: #ffcc66;
}